@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$navbar-light-color: red;
$navbar-light-hover-color: red;
$navbar-light-active-color: blue;
$navbar-dark-color:         darkorange;
$navbar-dark-hover-color:   blue;
$navbar-dark-active-color: blue;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";